.key-advantage

	// centered
	.centered__very-big

		// title block
		.key-advantage__title-block

			h3
				|	Key advantage
			.line.w-108

		// conteiner
		.key-advantage__conteiner

			// column left
			.key-advantage__conteiner__column-left.left


				// block
				.block__white.block__white__clean
					h4
						|	YOU COMPANY

				.key-advantage__conteiner__vertical-line

				// block
				.block__white.block__white__clean
					h4
						|	YOU REALLY OUTSORCE SALES TEAM
					img(src="../img/key-advantage.png" alt="")

			// column right
			.key-advantage__conteiner__column-right.right
				h4
					|	Do you hire a simple call specialist, in our person?

				.key-advantage__conteiner__text-block
					h4
						|	BETTER! <br/> YOU GET THE COMPLETE TEAM <br/> OF SALES PROFESSIONALS
					p
						|	Birmingham developed engineering, chemicals, electronics and car manufacture. Cambridge is famous for software engineering (making programs for computers) and bio-chemical and bio-genetic products. Cattle-farming is the speciality of the west of England, Northern Ireland and Scotland. Wheat and fruit are widely grown in the south-east of England.
					p
						|	Near the east and north-east coast of England and Scotland there are vast reserves of oil and gas. The UK is a member of OPEC — the Oil Producers and Exporters Cartel.
					p
						|	Cambridge is famous for software engineering (making programs for computers) and bio-chemical and bio-genetic products. Cattle-farming is the speciality of the west of England, Northern Ireland and Scotland. Wheat and fruit are widely grown in the south-east of England.
					a.btn.btn__blue.btn__blue__height__big.w-242.right.call(href="#" title="")
						| Tell me more