.key-advantage

	// centered
	.centered__small

		// title block
		.key-advantage__title-block

			h3
				|	Key advantage
			p
				|	Together with one of our <span>Sales Person</span> you get a whole staff of professional employees working on the tasks of your company:

		img(src="../img/key-advantage.png" alt="")