@media only screen and (min-width : 1024px) {

  // key advantage

  .key-advantage {
  	margin: 60px 0;
    height: auto;

    img {
    	margin: 50px auto;
    	display: block;
    	width: 730px;
    	height: 780px;
    }

  }

  .key-advantage__title-block {
  	text-align: center;

  	h3 {
  		font: 36px @akr-bold;
  		color: @blue;
  		text-transform: uppercase;
  	}

  	p {
  		margin: 20px auto;
  		width: 640px;
  		font: 24px @akr-semibold;
  		color: @black-grey;
  		line-height: 24px;

  		span {
  			color: @blue;
  		}

  	}

  }

}