#servicess.services

	// centered
	.centered__small

		h3
			|	The services
		p
			|	Key services

		// block white LEAD GENERATION

		.block__white.mb-140

			// column left
			.block__white__left__column

				h4
					|	Lead generation

				ul

					// item
					li
						img(src="../img/icons/icon-1.png" alt="")
						p
							|	Telesales

					// item
					li
						img(src="../img/icons/icon-2.png" alt="")
						p
							|	Lead generation

					// item
					li
						img(src="../img/icons/icon-3.png" alt="")
						p
							|	Appointment setting

					a.btn.btn__blue.btn__blue__height__small.w-242.call(href="#" title="")
						|	Cost per lead 10 £

			// column right
			.block__white__right__column__big

				h4
					|	grow your business with complete <br/> sales lead generation services

				p
					|	We’ve combined sales lead generation with marketing strategy and creative capabilities to deliver the most integrated and comprehensive demand generation, win-back and retention campaigns in the world

		// block white CALL CENTER

		.services__earphone

		.block__white.mb-140

			// column left
			.block__white__left__column.w-347

				h4
					|	Call center

				ul

					// item
					li
						img(src="../img/icons/icon-4.png" alt="")
						p
							|	Processing incoming calls

					// item
					li
						img(src="../img/icons/icon-5.png" alt="")
						p
							|	line of orders

					// item
					li
						img(src="../img/icons/icon-6.png" alt="")
						p
							|	informing customers

					// item
					li
						img(src="../img/icons/icon-7.png" alt="")
						p
							|	collection of information

					// item
					li
						img(src="../img/icons/icon-8.png" alt="")
						p
							|	updating contacts

					// item
					li
						img(src="../img/icons/icon-9.png" alt="")
						p
							|	technical support

					// item
					li
						img(src="../img/icons/icon-10.png" alt="")
						p
							|	market research

					a.btn.btn__blue.btn__blue__height__small.w-242.call(href="#" title="")
						|	Cost per lead 10 £

			// column right
			.block__white__right__column__big.no-border.w-450 

				h4
					|	Hiring an external call center provider can make even the most experienced manager a little nervous.

				p.mb-20
					|	The Call Center industry has continual change; technology changes daily, companies expect more for less and contact center leaders are stuck in the middle trying to understand how to make it all work.

				p
					|	We recruits the best experienced leadership available. By bringing in top performers from other contact centers and incorporating them into our Culture, we bring a broad base of experts in a variety of contact center types.