#our-works.four-cases

	// centered
	.centered__very-big

		h3
			|	4 cases of our clients
		.line 

		// conteiner

		.four-cases__conteiner

			// block
			.block__white.block__white__clean.four-cases__conteiner__block
				p
					|	Specialized site of Britain.

				ul
					li
						|	The main task is to collect information for replenishment of the site content and search for partners.
					li
						|	Made <span>1100</span> calls.
					li
						|	<span>170+ partners</span> from all over the world are gathered.
					li
						|	The base of <span>potential partners 950+</span>
					li
						|	Average bill <span>1569 pound</span>
					li
						|	Potential benefits: <span>266730 pound</span>

			// block
			.block__white.block__white__clean.four-cases__conteiner__block
				p
					|	Company selling and installing office equipment.

				ul
					li
						|	The main task is to find new customers.
					li
						|	<span>Made 3000 calls</span> to companies
					li
						|	Leading out of <span>670 companies.</span>
					li
						|	Average Check <span>120 pound</span>
					li
						|	Average bill <span>1569 pound</span>
					li
						|	Potential profit <span>80,400 pound</span>

			// block
			.block__white.block__white__clean.four-cases__conteiner__block
				p
					|	Company for the installation of doors and windows

				ul
					li
						|	The main task is to increase the check on the existing customer base.
					li
						|	The strategy cross sales
					li
						|	<span>4,000 customers</span> have been called up.
					li
						|	<span>Orders</span> completed <span>367</span>
					li
						|	Average check <span>490 pound</span>
					li
						|	Potential <span>Profit: 216,530</span>

			// block
			.block__white.block__white__clean.four-cases__conteiner__block
				p
					|	Educational courses in Britain.

				ul
					li
						|	The main task is to find new clients:
					li
						|	B2B
					li
						|	<span>Made 2,000 calls</span> 
					li
						|	Leading out - <span>240 companies</span>
					li
						|	The average check is <span>1 195 pounds</span>
					li
						|	Potential Profit - <span>286 800 pounds</span>