@media only screen and (min-width : 1024px) {

	// centered big

	.centered__big {
		position: relative;
		margin: 0 auto;
		width: 1000px;
	}

	.centered__small {
		position: relative;
		margin: 0 auto;
		width: 932px;
	}

	// positions
	
	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.center {
		margin: 0 auto;
	}

}