@media only screen and (min-width : 1024px) {

	// centered big

	.centered__big {
		position: relative;
		margin: 0 auto;
		width: 1000px;
	}

	.centered__small {
		position: relative;
		margin: 0 auto;
		width: 932px;
	}

	// positions
	
	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.center {
		margin: 0 auto;
	}

	.w-242 {
		width: 242px;
	}

	// buttons

	.btn {
		display: block;
		font: 26px @akr-semibold;
		color: #fff;
		text-decoration: none;
		text-align: center;
	}

	.btn__blue {
		background: @blue;
		&:hover {
			background: @blue-light;
		}
	}

	.btn__blue__height__big {
		height: 70px;
		line-height: 70px;
	}

}