// fonts & variables

@import '../styles/variables.less';
@import '../styles/fonts.css';

// mobile view

@import '../blocks/block-header/mob-header.less';
@import '../styles/mob-default.less';

// tablet view

@import '../blocks/block-header/tablet-header.less';
@import '../styles/tablet-default.less';

// desktop view

@import '../blocks/block-header/header.less';
@import '../blocks/block-main-screen/main-screen.less';
@import '../blocks/block-services/services.less';
@import '../blocks/block-key-advantage/key-advantage.less';
@import '../blocks/block-service-level/service-level.less';
@import '../blocks/block-about-company/about-company.less';
@import '../blocks/block-mission/mission.less';
@import '../blocks/block-map/map.less';
@import '../blocks/block-footer/footer.less';

@import '../styles/default.less';

// normalize

@import '../styles/reset.css';

// SETTINGS //

// animation

a, a:hover, li, img, input, textarea {
	transition: all 0.5s ease-in-out;
}

// body

body {
	cursor: default;
}

a {
  cursor: pointer;
}