.main-screen

  // centered big
  .centered__big

    h1
      | Mission - We can sell 
      strong
        | EVERYTHING!

    p
      | We will find buyers for each product.

    a.btn.btn__blue.btn__blue__height__big.w-242.call(href="#" title="")
      | Tell me more