footer

  // centered
  .centered__small

    // information
    .footer__information

      p
        | Info+31060@luckru.ru <br/> London, Pewds 71. <br/> INN: 392302621807, OGRN: 313392602500101

      // contacts information
      .footer__contacts
        p
          | Call the specialist:
        div
          a(href="tel:0333344347" title="")
            | 0333 344 347

    // other
    .footer__other

      // logo
      a(href="#" title="")
        img(src="../img/footer-logo.png" alt="")

      a.call-policy.footer__link_privacy-policy(href="#" title="")
        | Privacy policy