@media only screen and (min-width : 760px) and (max-width : 1024px) {

  // header

  header {
  color: @white;
	height: 68px;
  background: @black-light;
  }

  // logo
  .header__logo {
  top: 19px;
  left: -184px;
  position: absolute;
  width: 141px;
  height: 34px;

  img {
    width: 141px;
    height: 34px;
  }

  }

  // navigation

  .header__navigation {
  width: 500px;
  margin-left: 8px;
  height: 68px;

  ul {

    li a, li a:hover {
      padding: 0 20px;
      display: block;
      float: left;
      height: 62px;
      text-transform: uppercase;
      font: 14px @akr-extrabold;
      line-height: 59px;
      color: @white;
      border-bottom: 6px solid @black-light;
      text-decoration: none;

      &:hover {
        border-color: @white;
      }

    }

  }

  }

  // active link in navigation block

  .header__navigation__link__active {
    border-color: @white !important;
  }

  // contacts

  .header__contacts {
  margin: 18px 35px 0 0;
  width: 120px;
  text-align: center;
  text-transform: uppercase;

  p {
    font: 10px @akr-black;
  }

  div {
    font: 17px @akr-extrabold;
  }

  }

}