.scheme

	// centered
	.centered__very-big

		h3
			|	scheme of work
		.line

		p
			|	How we will work with your company:

		// block
		.scheme__block

			// number
			.scheme__block__number
				p
					|	1
					span
						|	st

			// content
			.scheme__block__content

				// block
				.block__white.block__white__clean.scheme__block__content__height
					p
						|	You <a href="#" title="">leave an order</a> or call <span>0333 344 347</span> <br/> We call you back, get acquainted, identify your needs, fill out the brief for your company. <br/> We introduce you to your personal manager

		// block
		.scheme__block

			// number
			.scheme__block__number
				p
					|	2
					span
						|	nd

			// content
			.scheme__block__content

				// block
				.block__white.block__white__clean.scheme__block__content__height
					p
						|	We agree with you the cost of the project, we issue an invoice <br/>After receipt of payment, we produce training of our employees for your product <br/> After training, our specialists call you and take the exam for knowledge of your product. if necessary, we carry out the training of our specialists

		// block
		.scheme__block

			// number
			.scheme__block__number
				p
					|	3
					span
						|	rd

			// content
			.scheme__block__content

				// block
				.block__white.block__white__clean
					p
						|	After training, our specialists call you and take the exam for knowledge of your product. if necessary, we carry out the training of our specialists <br/> Specialists start working with your customers <br/> Every day we provide you with reports and records of all calls by email and in your personal account on the website <br/> Upon completion of the project, we provide you with a final project report and a database of processed clients