.service-level

	// centered
	.centered__small

		h3
			|	Service Level
		.service-level__line 

		// conteiner

		.service-level__conteiner

			// content

			.service-level__conteiner__content
				h4
					|	Each service includes:

				ul
					li
						|	Complete training of our employees for your product
					li
						|	Develop unique matches for your topic
					li
						|	Test calls
					li
						|	Your personal manager
					li
						|	Formation of customer base
					li
						|	Adjustment of the project at any stage
					li
						|	Quality control and number of calls
					li
						|	Unloading calls

			img(src="../img/icons/icon-11.png" alt="")