.example-audio

	// centered
	.centered__very-big

		.example-audio__conteiner

			// column left
			.example-audio__conteiner__column-left

				h3
					|	Processing incoming calls

				h4
					|	PERSECUTION IN <br/> THE TEAM <br/> PROFESSIONALITY <br/> PERSONALLY

			// column right
			.example-audio__conteiner__column-right

				p
					|	Birmingham developed engineering, chemicals, electronics and car manufacture. Cambridge is famous for software engineering (making programs for computers) and bio-chemical and bio-genetic products. Cattle-farming is the speciality of the west of England, Northern Ireland and Scotland. Wheat and fruit are widely grown in the south-east of England.

				p
					|	Near the east and north-east coast of England and Scotland there are vast reserves of oil and gas. The UK is a member of OPEC — the Oil Producers and Exporters Cartel.

				p
					|	Cambridge is famous for software engineering (making programs for computers) and bio-chemical and bio-genetic products. Cattle-farming is the speciality of the west of England, Northern Ireland and Scotland. Wheat and fruit are widely grown in the south-east of England.

		// white block
		.block__white.block__white__clean.example-audio__white-block

			// column left
			img(src="../img/example-audio.png" alt="")

			// column right
			.example-audio__white-block__column-right

				p
					|	Examples of a "cold" call to your customers.

				// tracks body
				.example-audio__white-block__tracks-body

					// field
					.example-audio__white-block__tracks-body__field
						h5
							|	Operator Mason
						p
							|	Cold call. Parcel delivery services

						.progressbar.progressbar-1
						.play-body.play-body-1.play
						.player.player-1
							audio(class="audio-1" src="../mp3/song-1.mp3" loop)


					// field
					.example-audio__white-block__tracks-body__field
						h5
							|	Operator Felix
						p
							|	Cold call. The layer's services

						.progressbar.progressbar-2
						.play-body.play-body-2.play
						.player.player-2
							audio(class="audio-2" src="../mp3/song-2.mp3" loop)